@media screen
{
	.easyMenu
	{
		border: 1px solid silver;
		background-color: #FFFFFF;
		visibility: hidden;
	}
	
	.easyMenuItemContainer
	{
	}

	.easyMenuItem
	{
		cursor: auto; cursor: pointer;
		height: 20px;
	}
	
	.easyMenuItem a
	{
		cursor: auto; cursor: pointer;
		width: 130px;
		text-decoration: none;
	}

	.easyMenuItemIconCell
	{
		text-align: center;
		width: 22px;
	}

	.easyMenuItemIconCell a
	{
		color: Black;
		cursor: auto; cursor: pointer;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemContentCell
	{
		font-family: Tahoma;
		font-size: 11px;
	}

	.easyMenuItemContentCell a
	{
		color: Black;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemOver
	{
		cursor: auto; cursor: pointer;
		background-color: #BBBBBB;
		width: 130px;
		height: 20px;
	}
	
	.easyMenuItemOver a
	{
		cursor: auto; cursor: pointer;
		text-decoration: none;
	}

	.easyMenuItemIconCellOver
	{
		text-align: center;
		width: 22px;
	}

	.easyMenuItemIconCellOver a
	{
		color: Black;
		cursor: auto; cursor: pointer;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemContentCellOver
	{
		font-family: Tahoma;
		font-size: 11px;
	}

	.easyMenuItemContentCellOver a
	{
		color: Black;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuSeparator
	{
		height: 3px;
		font-size: 1px;
		color: Silver;
	}
	
	.easyMenuSeparatorIconCell
	{
		text-align: center;
		height: 3px;
		width: 22px;
		font-size: 1px;
		background-image: url('bg_separator.gif');
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}
	
	.easyMenuSeparatorContentCell
	{
		height: 3px;
		font-size: 1px;
		background-image: url('bg_separator.gif');
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}

	.easyMenuSeparatorOver
	{
		height: 3px;
		font-size: 1px;
		color: Silver;
	}

	.easyMenuSeparatorIconCellOver
	{
		text-align: center;
		height: 3px;
		width: 22px;
		font-size: 1px;
		background-image: url('bg_separator.gif');
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}
	
	.easyMenuSeparatorContentCellOver
	{
		height: 3px;
		font-size: 1px;
		background-image: url('bg_separator.gif');
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}


	.easyMenuItemSubMenuCell
	{
		width: 10px;
		padding-top: 2px;
		background-image: url('submenu.gif');
		background-repeat: no-repeat;
		background-position: 2px 4px;
		font-family: Verdana;
		font-size: 1px;
	}
	
	.easyMenuItemSubMenuCellOver
	{
		width: 10px;
		padding-top: 2px;
		background-image: url('submenu.gif');
		background-repeat: no-repeat;
		background-position: 2px 4px;
		font-family: Verdana;
		font-size: 1px;
	}
}