.SMParent {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-top:14px solid #F8FCFC;
    font:9pt Tahoma;
    color:#232323;
    text-align:left;
    height:21px;
}

.SMParentOver {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-top:2px solid #F8FCFC;
    font:9pt Tahoma;
    color:#232323;
    text-align:left;
	cursor:pointer; 
    height:21px;
}

.SMParentSelected {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-top:6px solid #F8FCFC;
	border-bottom:2px solid #F8FCFC;
    font:10pt Tahoma;
    color:#232323;
    text-align:left;
    height:21px;
    overflow:hidden;
}

.SMChild {
	font:8pt Tahoma; 
	color:#232323;
    padding-left: 32px;
	text-align:left;
}
.SMChild a {
	color:#232323;
	font:8pt Tahoma;
	text-decoration:none;
}

.SMChildOver {
	font:8pt Tahoma; 
	color:#232323;
	text-decoration:underline;
    padding-left: 32px;
	cursor:pointer;
	text-align:left;
}
.SMChildOver a {
	color:#232323;
	font:8pt Tahoma;
	text-decoration:underline;
}

.SMChildSelected {
	font:bold 8pt Tahoma; 
	color:#232323;
    padding-left: 32px;
	text-align:left;
}
.SMChildSelected a {
	color:#232323;
	font:bold 8pt Tahoma;
	text-decoration:none;
}

.SMChildrenBox {
}

.SMMenu {
	width: 200px;
}

.SMImageParent {
	border:0px;
	vertical-align:middle;
	margin-right:5px;
}

.SMImageChild {
	display:none;
}